.profile__edit-button {
  padding: 0;
  height: 18px;
  width: 18px;
  background-image: url(../../../images/profile__edit-button.svg);
  background-color: transparent;
  border: none;
  margin: 0 0 0 10px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  transform: opacity 0.5s ease;
}
@media screen and (min-width: 880px) {
  .profile__edit-button {
    height: 24px;
    width: 24px;
    margin-left: 18px;
  }
}
