.popup__input {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  padding: 0 0 13px;
  margin: 13px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
}
.popup__input:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 880px) {
  .popup__input {
    min-width: 358px;
  }
}
